//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base  0
#define Nav   1
#define Sym   2
#define Fun   3
#define Game  4

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
      &kp Q       &kp W       &kp F       &kp P       &kp B              &kp J       &kp L       &kp U       &kp Y       &kp APOSTROPHE
      &kp A       &kp R       &kp S       &kp T       &kp G              &kp M       &kp N       &kp E       &kp I       &kp O
&kp ESCAPE  &kp Z       &kp X       &kp C       &kp D       &kp V              &kp K       &kp H       &kp COMMA   &kp DOT     &kp SLASH   &kp MINUS
                                    &mt LCTRL DELETE  &lt Nav TAB   &kp SPACE      &kp RETURN  &lt Sym BACKSPACE  &lt Fun BACKSLASH
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
      &trans      &trans      &trans      &trans      &trans             &trans      &kp HOME    &kp PAGE_DOWN  &kp PAGE_UP  &kp END
      &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT   &trans             &kp DELETE  &kp LEFT    &kp DOWN       &kp UP       &kp RIGHT
&trans      &trans      &trans      &trans      &trans      &trans             &kp INSERT  &trans      &trans         &trans       &trans       &trans
                                    &trans      &trans      &trans             &trans      &trans      &trans
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
      &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3   &kp NUMBER_4   &kp NUMBER_5       &kp NUMBER_6  &kp NUMBER_7      &kp NUMBER_8  &kp NUMBER_9   &kp NUMBER_0
      &kp EXCLAMATION  &kp AT        &kp HASH       &kp DOLLAR     &kp PERCENT        &kp CARET     &kp AMPERSAND     &kp ASTERISK  &kp LPAR       &kp RPAR
&studio_unlock   &kp LPAR      &kp LBKT       &kp LBRC       &kp LESS_THAN  &kp GRAVE          &kp TILDE     &kp GREATER_THAN  &kp RBRC      &kp RBKT       &kp RPAR       &trans
                                       &trans        &trans      &trans             &trans      &trans      &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
      &kp F1      &kp F2      &kp F3      &kp F4      &kp F5             &kp F6      &kp F7      &kp F8      &kp F9      &kp F10
      &trans      &trans      &trans      &trans      &trans             &trans      &trans      &trans      &kp F11     &kp F12
&trans      &bootloader  &trans      &trans      &trans      &trans             &trans      &trans      &trans      &trans      &tog Game    &trans
                                    &trans      &trans      &trans             &trans      &trans      &trans
            >;
        };

        Game {
            display-name = "Game";
            bindings = <
      &kp T       &kp Q       &kp W       &kp E       &kp R              &kp Y       &kp U       &kp I       &kp O       &kp P
      &kp G       &kp A       &kp S       &kp D       &kp F              &kp H       &kp J       &kp K       &kp L       &kp SEMICOLON
&trans      &kp B       &kp Z       &kp X       &kp C       &kp V              &kp N       &kp M       &kp COMMA   &kp DOT     &kp SLASH   &trans
                                    &kp LSHFT   &kp LCTRL   &kp SPACE          &kp RETURN  &kp BACKSPACE  &to Base
            >;
        };
    };
};
